@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }

  * {
    font-family: "Inter", sans-serif;
  }

  .banner {
    transform: translate(-10%, 2%);
  }

  @font-face {
    font-family: gtMedium;
    src: url("./assets/fonts/gt/GT-Haptik-Medium.woff2");
  }

  @font-face {
    font-family: gtMediumRotate;
    src: url("./assets/fonts/gt/GT-Haptik-Medium-Rotalic.woff2");
  }

  .font-gtMediumRotate {
    font-family: gtMediumRotate, sans-serif;
  }

  .font-gtMedium {
    font-family: gtMedium, sans-serif;
  }

  .opportunity {
    position: relative;
  }

  .opportunity::before {
    position: absolute;
    content: url("./assets/svgs/opportunity-star.svg");
    width: 100%;
    top: 0;
    left: 0;
  }

  .opportunity-underline {
    position: relative;
  }

  .opportunity-underline::before {
    position: absolute;
    bottom: -6px;
    left: 0;
    content: "";
    background: #b35eab;
    width: 100%;
    height: 4px;
    border-radius: 10px;
  }
}
